<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>17/09/27 05:02:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClaimantIncidentTestScripts.beforeClass()[pri:0, instance:testScripts.LACO.Claims.ClaimantIncident.ClaimantIncidentTestScripts@b7f23d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/09/27 05:02:23</td>   <td>7306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClaimantIncidentTestScripts.beforeMethod()[pri:0, instance:testScripts.LACO.Claims.ClaimantIncident.ClaimantIncidentTestScripts@b7f23d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@889729797</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/09/27 05:02:23</td>   <td>7306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClaimantIncidentTestScripts.testUpdateFunctionality()[pri:0, instance:testScripts.LACO.Claims.ClaimantIncident.ClaimantIncidentTestScripts@b7f23d9]">testUpdateFunctionality</td> 
  <td>main@889729797</td>   <td></td> </tr>
</table>
